@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 210 40% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 199 89% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 199 89% 48%;
    --radius: 0rem;
    --chart-1: 199 89% 48%;
    --chart-2: 214.3 31.8% 91.4%;
  }

  .dark {
    --background: 0 0% 2%;
    --foreground: 0 0% 100%;
    --card: 0 0% 5%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 2%;
    --popover-foreground: 0 0% 100%;
    --primary: 199 95% 74%;
    --primary-foreground: 0 0% 2%;
    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 9%;
    --muted-foreground: 0 0% 51%;
    --accent: 0 0% 9%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 16%;
    --input: 0 0% 16%;
    --ring: 199 95% 74%;
    --chart-1: 199 95% 74%;
    --chart-2: 0 0% 16%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-inter), sans-serif;
  }
  h1, h2, h3, h4 {
    @apply font-display font-bold;
  }
  h1 { @apply text-[96px] leading-[120px]; }
  h2 { @apply text-[64px] leading-[80px]; }
  h3 { @apply text-[40px] leading-[56px]; }
  h4 { @apply text-[28px] leading-[40px] font-semibold; }
}

@layer utilities {
  .font-canvas {
    font-family: var(--font-inter), sans-serif;
  }
}

.react-flow__attribution {
  background: transparent !important;
}

.dark {
  .react-flow__controls-button {
    @apply !bg-accent;
  }
}
